* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
}

.maincontainer {
    width: 100%;
    max-width: 800px;
    background: #0F0F0F;
    font-family: "Inter", sans-serif;
    display: flex;
    gap: 16px;
    color: #9CA3AF;
    border-radius: 12px;
    padding: 3px;
    box-shadow: 0px 0px 6px 9px rgba(0, 0, 0, 0.1)
}

.thumbnail_url {
    height: 122px;
    width: 212px;
    margin: 4px;
    border-radius: 18px;
    position: relative;
    overflow: hidden; /* Hide anything that spills out of the rounded corners */
}

/* Style for the new img tag */
.thumbnail-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the area without distortion */
}


.video_duration {
    height: 16px;
    width: auto;
    padding: 2px 6px;
    background-color: rgba(0, 0, 0, 0.7); /* Slightly transparent background */
    color: white;
    font-size: 12px;
    border-radius: 4px;
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.video_title {
    font-size: 16px;
    line-height: 28px;
    word-break: break-word;
    margin: 11px 0px 6px 0px;
    color: #ffffff;
}

.line-2 {
    font-size: small;
    color: #9CA3AF;
}